<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Kate Butkus</a> <a target="_blank" href="http://github.com/KateButkus"></a>. The web developers who are on a mission to learn the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    I learned how to code and build products people want at The University of Denver, University of Denver Coding Bootcamp.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'kate.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kate Butkus</h2>
      <br />
      <p>
        Ken Mazaika is a web developer and Ruby on Rails contributor. Previously, she was a high school math teacher. In a previous life, she oversaw the launch of the website for <a target="_blank" href="http://synthroid.com/">Synthroid</a> working for a online pharmacuetical marketing firm.
      </p>
    </div>
  </div>
  
</div

<br class="clear" />
<br />
<br />
<br />
<br />